.posts{
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.posts__header{
    display: flex;
    margin-bottom: 10px;
}
.posts__info{
    font-size: 12px;
    color: gray;
    margin-left: 10px;
    padding-left: 10px;
   
}
.posts__body{
    overflow-wrap: anywhere;
}
.posts__info>h2{
    font-size: 15px;
}
.posts__button
{
    display: flex;
    justify-content: space-evenly;
    
}